# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: Numbers are either whole numbers which are integers (or int), or they include a decimal and are floats.

Strings: Strings are anything between single or double quotations. they are immutible

Lists: Lists use [] and are ordered structures of elements. Elements don't have to be the same data type. Mutable. (note to myself: similar to js arrays)

Tuples: Tuples use () and have 2 methods associated with them. They are immutable.

Dictionaries: Use {}. Unordered structure of elements with key: value pairs. Reference example: books[title]
(note to myself: similar to js objects, but instead of dot notation, reference like arrays with key for index)

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [ ]:
(5**2) * (4/2) + 51 - .75

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [ ]:
44, 29, 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br> Float

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root:
25**.5

In [ ]:
# Square:
5**2

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [ ]:
s = 'hello'
# Print out 'e' using indexing

s[1]

Reverse the string 'hello' using slicing:

In [4]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [2]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [5]:
s ='hello'
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [8]:
# Method 1:
list_one = [0,0,0]
list_one

[0, 0, 0]

In [7]:
# Method 2:
list_two = [0] *3
list_two

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [9]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'

list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [10]:
list4 = [5,3,4,6,1]

list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [12]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [13]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [14]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [15]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

No, because it's an unordered structure. You find values using their key so there's no need to sort them

## Tuples

What is the major difference between tuples and lists?<br><br>

Tuples are immutable and lists are mutable

How do you create a tuple?<br><br>

tuple = (1, 2, 3)

## Sets

What is unique about a set?<br><br>
It's a collection of unique elements - no element can be repeated

Use a set to find the unique values of the list below:

In [16]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [20]:
# Answer before running cell
2 > 3
#False

False

In [19]:
# Answer before running cell
3 <= 2
#False

False

In [21]:
# Answer before running cell
3 == 2.0
#False

False

In [23]:
# Answer before running cell
3.0 == 3
#True

True

In [24]:
# Answer before running cell
4**0.5 != 2
#False

False

Final Question: What is the boolean output of the cell block below?

In [25]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

#3 >= 4
#False

False

## Great Job on your first assessment!